
/* Home/Index Page starts from here  */
#index{
    /* background-color: aqua; */
    background-color: rgb(20, 20, 20, 1);
    color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
    h1{
        color: red;
    }
    #navbar{
        background-color: rgb(232, 23, 23);
    }
    #Welcome{
      
        color: rgb(255, 0, 0);
     
    }
    .obj{
        color: rgb(255, 196, 0);
        text-decoration: underline;
    }
    .exp{
        /* color: rgb(251, 0, 255); */
        color: rgb(255, 196, 0);

        text-decoration: underline;
    }
    .skill{
        color: rgb(255, 196, 0);
        text-decoration: underline;
    
    
    }
    .edu{
        /* color: rgb(251, 0, 255); */
        color: rgb(255, 196, 0);

        text-decoration: underline;
    
    
    }
    .abt{
        /* color: rgb(251, 0, 255); */
        color: rgb(255, 196, 0);

        text-decoration: underline;
    
    
    }
}
#Welcome{
      
    color: rgb(255, 0, 0);
 
}

/* Introduction Page starts from here  */
#Introduction{
    /* background-color: aqua; */
    background-color: rgb(20, 20, 20, 1);
    color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}


/* Project Page starts from here  */
#Project{
    /* background-color: aquamarine; */
    background-color: rgb(20, 20, 20, 1);
    color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}

/* Skills Page starts from here  */
#skl{
    /* background-color: rgb(209, 157, 240); */
    background-color: rgb(20, 20, 20, 1);
    color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;

    text-align: center;
    h1{
        color: red;
    }
    h2{
        text-decoration: underline;
        color: rgb(255, 196, 0);        
    }
    h5{
        color: rgba(77, 255, 1, 0.801);

    }

   /* .pl:hover{
    background-image: url(3.png);
    color: black;
   } */
    
}
